body{
    background-image: url(Ville\ Zig3.jpg);
}
.p1{font-weight: bold;
}

.p2{font-weight: bold;

}
.p3{font-weight: bold;

}

a{
    text-decoration: none
    ;
    font-size: 100;
    color: rgb(6, 174, 252);
}
body{
text-align: justify;
color: aliceblue;
font-size: larger;
t
}